.main-page {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh !important;
  background-color: var(--main-color-black);
  background-image: url("../assets/blue_transparent.png");
  background-repeat: no-repeat;
  background-position: top center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.main-page > nav > header {
  width: 88%;
  height: auto;
  margin: 2% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.mobile,
.main-page__map_mobile,
.main-page__footer_mobile {
  display: none !important;
}

.main-page__content {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: auto;
}

.main-page__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 1rem;
  color: var(--main-color-white);
  font-size: clamp(0.7rem, 0.85rem, 1.2rem);
}

.main-page__list > li {
  cursor: pointer;
  text-align: center;
}

.main-page__list > li img {
  width: 1vw;
}

.main-page__btn-group {
  display: flex;
  gap: 1rem;
}

.main-page__btn-group__left,
.main-page__btn-group__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px !important;
}

.main-page__btn-group__left > button.fill-blue {
  background-color: var(--main-color-blue) !important;
  color: var(--main-color-white);
  border: none;
  padding: 0.5rem 1rem;
  min-width: 13vw;
  font-size: clamp(0.7rem, 0.85rem, 1.2rem);
  text-wrap: nowrap;
}

.main-page__btn-group__left > button.fill-transparent {
  background-color: transparent;
  color: var(--main-color-white);
  border: none;
  padding: 0.5rem 1rem;
  min-width: 13vw;
  border: 1px solid var(--main-color-white);
  font-size: clamp(0.7rem, 0.85rem, 1.2rem);
}

.main-page__btn-group__right > .fill-white {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--main-color-white);
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
}
.main-page__btn-group__right > .fill-white img {
  width: 1vw;
  height: auto;
  display: block;
}

.main-page__btn-group__right > .fill-white:nth-child(2) img {
  width: 1.3vw;
}

.main-page__map {
  position: relative;
  text-align: center;
  color: var(--main-color-white);
  text-align: center;
  margin-top: 3vh;
}

.main-page__map > h1 {
  font-size: 4.5rem;
  position: absolute;
  top: -8%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.main-page__map > p {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
}
.main-page > .main-page__map img {
  width: 80%;
  height: auto;
}

.main-page__map > .main-page__image {
  display: block;
  margin: 10px auto 0;
}

.main-page__footer > .main-page__btn_down {
  display: block;
  margin: 0 auto;
  width: 4vw;
  cursor: pointer;
}

.main-page__logo {
  width: 7vw;
}

.main-page__list li {
  position: relative;
}

.submenu {
  min-width: 20vw;
  width: auto;
  padding: 2% 10%;
  background: var(--main-color-white);
  position: absolute;
  z-index: 100;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px;
}

.submenu::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent var(--main-color-white) transparent;
}
.submenu ul {
  padding: 0;
}

.submenu ul > li {
  color: var(--main-color-black);
  list-style-type: none;
  text-align: left;
  font-weight: normal;
  margin-top: 2%;
  white-space: wrap;
}
.submenu ul > li > span {
  color: #677489;
  text-align: left;
  font-weight: normal;
}

.has-submenu {
  position: relative;
  cursor: pointer;
}

/* Изначальное состояние подменю: скрыто с помощью scaleY и прозрачности */
.has-submenu .submenu {
  position: absolute;
  top: 150%; /* сразу под li */
  left: 50%; /* начинаем от центра li */
  transform: translateX(-50%) scaleY(0);
  transform-origin: top center;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;

  width: auto;
  padding: 2vh 2vw;
  background: var(--main-color-white);
  z-index: 100;
  border-radius: 16px;
}

/* Состояние открытого подменю */
.has-submenu.open .submenu {
  transform: translateX(-50%) scaleY(1);
  opacity: 1;
}

/* Анимация поворота стрелки */
.has-submenu > .chevron {
  transition: transform 0.3s ease;
}
.has-submenu.open > .chevron {
  transform: rotate(180deg);
}

@media screen and (max-width: 1550px) {
  .main-page > nav > header {
    width: 95%;
  }
}

@media screen and (max-width: 1000px) {
  .main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .main-page__map_mobile,
  .main-page__footer_mobile {
    display: block !important;
  }

  .main-page > nav > header:not(.mobile),
  .main-page__map,
  .main-page__footer {
    display: none;
  }

  header.mobile{
    display: block !important;
    display: flex !important;
  }

  .main-page__logo_mobile:first-child {
    width: 17vw;
  }

  .main-page__logo_mobile:last-child {
    width: 14vw;
  }

  .main-page__map_mobile {
    height: 80vh;
    white-space: wrap;
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color-white);
    position: relative;

    h1 {
      margin-top: 6%;
      font-size: 5vh !important;
      width: 100%;
      white-space: wrap;
      text-align: center;
    }

    p {
      font-size: 2vh;
      margin: 12% auto;
      text-align: center !important;
      width: 70%;
    }

    .main-page__image_mobile {
      display: block;
      width: 100vw;
      position: absolute;
      bottom: 20%;
    }
  }

  .main-page__footer_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;

    .main-page__btn_down_mobile {
      display: block;
      width: 10vw;
      cursor: pointer;
      margin: 0 auto;
    }
  }

  header.mobile {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh !important;
  }
}
