.main-page {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh !important;
  background-color: var(--main-color-black);
  background-image: url("../assets/blue_transparent.png");
  background-repeat: no-repeat;
  background-position: top center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
.main-page > nav > header {
  width: 88%;
  height: auto;
  margin: 2% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-page__content {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: auto;
}

.main-page__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 1.5rem;
  color: var(--main-color-white);
  font-size: clamp(0.7rem, 0.85rem, 1.2rem);
}

.main-page__list > li {
  cursor: pointer;
  text-align: center;
}

.main-page__btn-group {
  display: flex;
  gap: 1rem;
}

.main-page__btn-group__left,
.main-page__btn-group__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px !important;
}

.main-page__btn-group__left > button.fill-blue {
  background-color: var(--main-color-blue) !important;
  color: var(--main-color-white);
  border: none;
  padding: 0.5rem 1rem;
  min-width: 13vw;
  font-size: clamp(0.7rem, 0.85rem, 1.2rem);
  text-wrap: nowrap;
}

.main-page__btn-group__left > button.fill-transparent {
  background-color: transparent;
  color: var(--main-color-white);
  border: none;
  padding: 0.5rem 1rem;
  min-width: 13vw;
  border: 1px solid var(--main-color-white);
  font-size: clamp(0.7rem, 0.85rem, 1.2rem);
}

.main-page__btn-group__right > .fill-white {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--main-color-white);
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
}
.main-page__btn-group__right > .fill-white img {
  width: 1vw;
  height: auto;
  display: block;
}

.main-page__btn-group__right > .fill-white:nth-child(2) img {
  width: 1.3vw;
}

.main-page__map {
  position: relative;
  text-align: center;
  color: var(--main-color-white);
  text-align: center;
  margin-top: 5vh;
}

.main-page__map > h1 {
  font-size: 4.5rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.main-page__map > p {
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
}
.main-page > .main-page__map img {
  width: 80%;
  height: auto;
  
}

.main-page__map > .main-page__image {
  display: block;
  margin: 2% auto 0;
}

.main-page__footer > .main-page__btn_down {
  display: block;
  margin: 2% auto;
  width: 4vw;
  cursor: pointer;
}

.main-page__logo {
  width: 7vw;
}

@media screen and (max-width: 1550px) {
  .main-page > nav > header {
    width: 95%;
  }
}
