{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Новость 3</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

    <link rel="stylesheet" href="{% static 'css/mainPage.css' %}" />

    <link rel="stylesheet" href="{% static 'css/news/news.css' %}" />

    <script src="{% static 'js/news.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

    <style>
      ul > li {
        color: white;
        font-weight: 300;
        line-height: 22px;
      }
    </style>
  </head>
  <body>
    <main>
      <section class="news-view">
        {% include "components/nav.html" %}
        <div class="news-view__content">
          <h1>Форум «Мир БРИКС: Инвестиции и Налоги для Бизнеса»</h1>
          <p>
            <strong>
              26 марта 2025 года в московском отеле «The Ritz-Carlton» успешно
              прошёл форум «Мир БРИКС: Инвестиции и Налоги для Бизнеса»,
              организованный Международным Консорциумом БРИКС.
            </strong>
          </p>
          <div class="news-view__img-block">
            <img src="{% static 'assets/news-3-1.png' %}" alt="фото 3" />
          </div>
          <p>
            <br /><br />

            Мероприятие собрало более 200 участников: руководителей компаний,
            инвесторов, представителей государственных структур и
            дипломатических миссий из России, стран БРИКС и АСЕАН. Ключевыми
            темами обсуждения стали новые налоговые реалии, меры государственной
            поддержки бизнеса, а также инвестиционные возможности в России и
            странах-партнёрах. Спикеры, включая руководителя МК БРИКС Елену
            Галибину, финансовых экспертов и международных инвесторов,
            поделились актуальными идеями и практическими кейсами.

            <br /><br />
            Среди почётных гостей форума были: Торшин Александр Порфирьевич —
            председатель Совета директоров Евразийского рейтингового агентства,
            заслуженный юрист Российской Федерации и Гамза Владимир Андреевич —
            член Правления ТПП РФ, председатель Совета по финансово-промышленной
            и инвестиционной политике, член Совета по промышленному развитию и
            конкурентоспособности экономики России. Кроме того, форум посетило
            большое количество иностранных гостей, среди которых Любарто Сартойо
            Санвирья — президент Альянса деловых структур и предпринимателей
            Юго-Восточной Азии (B2BASEAN), член Global Diaspora Indonesia, член
            Правления Общества дружбы России и Индонезии «Новое направление с
            новыми возможностями (АСЕАН и Индонезия)», а также Нгуен Май Хонг —
            директор V-exim Solutions, представитель COSTAS Ассоциации науки и
            технологий и стартапов Вьетнама, партнёр Альянса деловых структур и
            предпринимателей стран Юго-Восточной Азии B2BASEAN.
          </p>

          <p>
            Ключевым событием форума стало подписание соглашений о
            стратегическом партнёрстве МК БРИКС с Фондом «Русское наследие» в
            лице Владимира Александровича Хмелева, Альянсом B2B ASEAN
            (Юго-Восточная Азия) и AFRECULTURE, что призвано укрепить деловые и
            культурные связи между регионами в условиях глобальных вызовов.
            Гости высоко оценили насыщенную программу, нетворкинг и возможность
            живого диалога с ведущими профессионалами рынка.
          </p>

          <p>
            Девиз консорциума БРИКС, предложенный Еленой Галибиной — «Совместные
            цели, общие усилия, единое будущее!» был с воодушевлением поддержан
            участниками форума.
            <br /><br />
          </p>

          <button class="white-button" onclick="window.location.href='/news'">
            Вернуться ко всем новостям
          </button>
        </div>
      </section>
      {% include "components/footer.html" %}
    </main>
  </body>
</html>
