<div class="container-finance">
  <div class="container-finance__item">
    <p class="container-finance__text">
      Скидки на товары и услуги: Члены консорциума получают скидки на продукцию
      или услуги, предоставляемые другими участниками или партнерами
      консорциума.
    </p>
    <div class="container-finance__number">1</div>
  </div>
  <div class="container-finance__item">
    <p class="container-finance__text">
      Участие в совместных закупках: Объединенные закупки позволяют членам
      консорциума получить более выгодные цены за счет увеличения объемов.
    </p>
    <div class="container-finance__number">2</div>
  </div>
  <div class="container-finance__item">
    <p class="container-finance__text">
      Доступ к финансированию: Консорциум может предоставлять своим членам
      доступ к льготному финансированию, например, через совместные кредиты или
      гранты.
    </p>
    <div class="container-finance__number">3</div>
  </div>
  <div class="container-finance__item">
    <p class="container-finance__text">
      Инвестиции и гранты: Консорциум может инвестировать в проекты своих членов
      или помогать им получать гранть от третьих сторон.
    </p>
    <div class="container-finance__number">4</div>
  </div>
  <div class="container-finance__item">
    <p class="container-finance__text">
      Получение консультации по вопросам ведения предпринимательской
      деятельности. Выход на мировой рынок и поиск партнеров в России.
    </p>
    <div class="container-finance__number">5</div>
  </div>
  <div class="container-finance__item">
    <p class="container-finance__text">
      Поддержка и продвижение инвестиционных и инновационных проектов, поиске
      инвесторов и партнеров, в том числе зарубежных.
    </p>
    <div class="container-finance__number">6</div>
  </div>
</div>
