{% load static %}
<section class="footer-wrapper black-block">
    <footer class="footer">
      <div class="footer_logo">
        <img src="{% static 'assets/logo.png' %}" alt="" />
      </div>
      <div class="footer_menu">
        <p>Меню</p>
        <div class="footer_menu__content">
          <a href="{% url 'about' %}">О МКБ</a>
          <a href="{% url 'structure' %}"">Структура</a>
          <a href="{% url 'representatives' %}">Представительства</a>
          <a href="{% url 'partners' %}">Партнеры</a>
          <a href="{% url 'preferences' %}">Преференции членов</a>
          <a href="{% url 'news' %}">Новости</a>
          <a href="{% url 'events' %}">Мероприятия</a>

          <div class="social_network">
            <img src="{% static 'assets/youtube.svg' %}" alt="youtube" style="width: 45px; height: 45px;">
            <a href="https://t.me/icbrics" target="_blank">
              <img src="{% static 'assets/telegram.svg' %}" alt="telegram" style="width: 50px;">
            </a>
           
          </div>
        </div>
      </div>
      <div class="footer_section">
        <p>Раздел</p>
        <div class="footer_section__content">
          <a href="{% url 'main' %}#next-section">Новости</a>
          <a href="{% url 'main' %}#advantage">Преимущества</a>
          <a href="{% url 'main' %}#event">Мероприятия</a>
          <a href="{% url 'main' %}#become-partner">Стать партнером</a>

        </div>
      </div>
      <div class="footer_contacts">
        <p>Контакты</p>
        <div class="footer_contacts__content">
          <p>ТЕЛЕФОН</p>
          <a href="" type="tel">+7 (999) 999-99-99</a><a href="">
            <p>EMAIL</p>
          <a href="mailto:info@icbrics.com">info@icbrics.com</a>
          <p>Адрес</p>
          <a href="">г. Москва, ул.Улица, 17</a>

          <div class="footer_contacts__input_block">
            <label class="subscribe-label">
              Подпишитесь на новости<br>
              <div class="subscribe-wrapper">
                <input
                  type="email"
                  placeholder="Введите свою почту"
                  class="subscribe-input"
                />
              </div>
            </label>
          </div>
        </div>
      </div>
    </footer>
    <img
    src="{% static 'assets/arrow_button_down.png' %}"
    alt="arrow_button_up"
    class="footer__btn_up"
    id="arrow_button_up"
    onclick="window.scrollTo(0, 0)"
  />
  </section>