{% load static %}
<section class="main-page">
  <nav>
    <header>
      <img
        src="{% static 'assets/logo.png' %}"
        class="main-page__logo"
        alt="Logo"
      />

      <div class="main-page__content">
        <ul class="main-page__list">
          <li class="has-submenu">
            <span class="menu-title">Структура консорциума</span>
            <img
              src="{% static 'assets/chevron-down.svg' %}"
              alt=""
              class="chevron"
            />
            <div class="submenu column">
              <ul>
                <li>
                  37 департаментов (направлений)
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Административный совет (штаб)
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Совет по международным связям
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Попечительский совет
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Советники
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  История МКБ
                  <br />
                  <span>Описание</span>
                </li>
              </ul>
            </div>
          </li>
          <li>Бизнес Хаб</li>
          <li class="has-submenu">
            <span class="menu-title">Аппарат эффективного управления</span>
            <img
              src="{% static 'assets/chevron-down.svg' %}"
              alt=""
              class="chevron"
            />
            <div class="submenu column">
              <ul>
                <li>
                  Центр консультации экспертов
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Центр юридического сопровождения (ЦЮС)
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Центр бухгалтерского сопровождения и аудита (ЦБСиА)
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Центр маркетинга, рекламы и PR
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Центр экспертизы, сертификации и оценки
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Центр по безопасности
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Центр IT
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  HR агентство
                  <br />
                  <span>Описание</span>
                </li>
              </ul>
            </div>
          </li>

          <li class="has-submenu">
            <span class="menu-title">Аппарат финансирования и инвестиций</span>
            <img
              src="{% static 'assets/chevron-down.svg' %}"
              alt=""
              class="chevron"
            />
            <div class="submenu column">
              <ul>
                <li>
                  Центр планирования и бюджетирования (ЦПБ)
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Центр привлечения капитала (ЦПК)
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Центр поддержки внешнеэкономической деятельности (ЦП ВЭД)
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Центр работы с внешними структурами (ЦВС)
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Центр взаимодействия с органами государственной власти (ЦВОВ)
                  <br />
                  <span>Описание</span>
                </li>
              </ul>
            </div>
          </li>
        </ul>

        <ul class="main-page__list">
          <li class="has-submenu">
            <span class="menu-title">
              Аппарат торговых операций и логистики</span
            >
            <img
              src="{% static 'assets/chevron-down.svg' %}"
              alt=""
              class="chevron"
            />
            <div class="submenu column">
              <ul>
                <li>
                  Торговый Дом МКБ
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Логистический хаб
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Центр антиконтрафакта
                  <br />
                  <span>Описание</span>
                </li>
              </ul>
            </div>
          </li>
          <li>Департамент культуры</li>
          <li class="has-submenu">
            <span class="menu-title">Благотворительный фонд</span>
            <img
              src="{% static 'assets/chevron-down.svg' %}"
              alt=""
              class="chevron"
            />
            <div class="submenu column">
              <ul>
                <li>
                  Благотворительный фонд
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Отдел волонтерства
                  <br />
                  <span>Описание</span>
                </li>
              </ul>
            </div>
          </li>
          <li class="has-submenu">
            <span class="menu-title"> Центры</span>
            <img
              src="{% static 'assets/chevron-down.svg' %}"
              alt=""
              class="chevron"
            />
            <div class="submenu column">
              <ul>
                <li>
                  Образовательный центр МКБ
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Медиа-центр МКБ
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Центр туризма
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Центр HR
                  <br />
                  <span>Описание</span>
                </li>
              </ul>
            </div>
          </li>
          <li>Новости</li>
          <li class="has-submenu">
            <span class="menu-title">Мероприятия</span>
            <img
              src="{% static 'assets/chevron-down.svg' %}"
              alt=""
              class="chevron"
            />
            <div class="submenu column">
              <ul>
                <li>
                  Мероприятия в России
                  <br />
                  <span>Описание</span>
                </li>
                <li>
                  Мероприятия за рубежом
                  <br />
                  <span>Описание</span>
                </li>
              </ul>
            </div>
          </li>
          <li>Контакты</li>
        </ul>
      </div>

      <div class="main-page__btn-group">
        <!-- Кнопки слева -->
        <div class="main-page__btn-group__left">
          <button class="button fill-blue">Вступить в консорциум</button>
          <button class="button fill-transparent">Стать партнером</button>
        </div>
        <!-- Кнопки справа -->
        <div class="main-page__btn-group__right">
          <button class="fill-white">
            <img src="{% static 'assets/search.svg' %}" alt="" />
          </button>
          <button class="fill-white">
            <img src="{% static 'assets/planet.svg' %}" alt="" />
          </button>
        </div>
      </div>
    </header>
  </nav>

  <div class="main-page__map">
    <h1>Объединяя бизнес</h1>
    <p>компетенции стран БРИКС для создания новых возможностей</p>
    <img
      src="{% static 'assets/map.svg' %}"
      alt="Map"
      class="main-page__image"
    />
  </div>

  <div class="main-page__footer">
    <img
      src="{% static 'assets/arrow_button_down.png' %}"
      alt="arrow_button_down"
      class="main-page__btn_down"
      id="arrow_button_down"
    />
  </div>
</section>
