<div class="home-logo-wrapper">
  <div class="clients-grid">
    <button class="cluster-button">Название кластера</button>
    <span class="cluster-text">Название кластера</span>
    <button class="cluster-button">Название кластера</button>
    <span class="cluster-text">Название кластера </span>
    <button class="cluster-button">Название кластера</button>
    <span class="cluster-text">Название кластера </span>
    <button class="cluster-button">Название кластера</button>
  </div>

  <div class="clients-grid">
    <span class="cluster-text">Название кластера </span>
    <button class="cluster-button">Название кластера</button>
    <span class="cluster-text">Название кластера </span>
    <button class="cluster-button">Название кластера</button>
    <span class="cluster-text">Название кластера</span>
    <button class="cluster-button">Название кластера</button>
    <span class="cluster-text">Название кластера</span>
  </div>

  <div class="clients-grid">
    <button class="cluster-button">Название кластера</button>
    <span class="cluster-text">Название кластера</span>
    <button class="cluster-button">Название кластера</button>
    <span class="cluster-text">Название кластера</span>
    <button class="cluster-button">Название кластера</button>
    <span class="cluster-text">Название кластера</span>
    <button class="cluster-button">Название кластера</button>
  </div>
</div>
