<div class="container-finance" style="margin-left: 40vw;">
  <div class="container-finance__item">
    <p class="container-finance__text">
      Доступ к технологиям и ноу-хау: Обмен технологиями и опытом между членами
      консорциума способствует развитию всех участников.
    </p>
    <div class="container-finance__number">1</div>
  </div>
  <div class="container-finance__item">
    <p class="container-finance__text">
      Совместное использование ресурсов: Члены консорциума могут совместно
      использовать оборудование, программное обеспечение, персонал и другие
      ресурсы.
    </p>
    <div class="container-finance__number">2</div>
  </div>
  <div class="container-finance__item">
    <p class="container-finance__text">
      Маркетинговая поддержка: Консорциум может оказывать маркетинговую
      поддержку своим членам, например, путем совместных рекламных кампаний или
      участия в выставках.
    </p>
    <div class="container-finance__number">3</div>
  </div>
  <div class="container-finance__item">
    <p class="container-finance__text">
      Доступ к информации и знаниям: Члены консорциума получают доступ к
      информации и экспертным знаниям, которые могут быть полезны для их
      бизнеса, а также обучающим программам.
    </p>
    <div class="container-finance__number">4</div>
  </div>
  <div class="container-finance__item">
    <p class="container-finance__text">
      Сеть контактов «Консорциум» предоставляет возможность установить связи с
      другими компаниями и специалистами своей области.
    </p>
    <div class="container-finance__number">5</div>
  </div>
  <div class="container-finance__item">
    <p class="container-finance__text">
      Обучение и повышение квалификации: Консорциум может организовывать
      тренинги и семинары для своих членов.
    </p>
    <div class="container-finance__number">6</div>
  </div>

  <div class="container-finance__item">
    <p class="container-finance__text">
      Лоббирование и представительство: Консорциум может представлять интересы
      своих членов перед государственными органами или другими организациями.
    </p>
    <div class="container-finance__number">7</div>
  </div>

  <div class="container-finance__item">
    <p class="container-finance__text">
      Приоритетный доступ к услугам: Члены консорциума могут иметь приоритетный
      доступ к определенным услугам, предоставляемым консорциумом или его
      партнерами.
    </p>
    <div class="container-finance__number">8</div>
  </div>

  <div class="container-finance__item">
    <p class="container-finance__text">
      Участие в публичных мероприятиях, специальных проектах, организованных
      консорциумом и их партнерами.
    </p>
    <div class="container-finance__number">9</div>
  </div>
</div>
